.footer {
  width: 100%;
  padding: 32px 16px;
  margin-top: 40px; /* Cria um espaço entre os cards e a linha */
  text-align: center;
  background-color: var(--color-bg-soft); /* ou a cor de fundo padrão */
  
  /* Linha vermelha no topo do rodapé */
  border-top: 2px solid var(--color-brand);
}